<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>プロフィール確認画面</h1>
    </div>
    <div class="col-12">
      <table class="table">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <tr>
          <th><%= f.label :first_name %></th>
          <td><%= f.hidden_field :first_name, class:"form-control-plaintext " %>
          <%= @user.first_name%></td>
      </tr>
      <tr>
          <th><%= f.label :last_name %></th>
          <td><%= f.hidden_field :last_name, class:"form-control-plaintext "%>
          <%= @user.last_name%></td>
      </tr>
      <tr>
          <th><%= f.label :nick_name %></th>
          <td><%= f.hidden_field :nick_name, class:"form-control-plaintext "%>
          <%= @user.nick_name%></td>
      </tr>
      <tr id="avatar-image">
          <th><%= f.label :avatar_image %></th>
          <td><%= f.hidden_field :avatar_image_cache %>
          <%= image_tag(@user.avatar_image.url) if @user.avatar_image && @user.avatar_image.url %></td>
      </tr>
      <tr>
          <th><%= f.label :introduction %></th>
          <td><%= f.hidden_field :introduction,class:"form-control-plaintext "%>
          <%= @user.introduction%></td>
      </tr>
      <tr>
          <th><%= f.label :email %></th>
          <td><%= f.hidden_field :email, class:"form-control-plaintext "%>
          <%= @user.email %></td>
      </tr>
      </tr>
    
      <tr>
          <th><%= f.label :password %></th>
          <td><%= f.hidden_field :password, class:"form-control-plaintext "%>
          <%= @user.password %></td>
      </tr>
      </table>
      <div class="col-12 my-2">
      <%= f.submit "修正する", name: :back, class:'btn btn-info'%>
      <%= f.submit "登録する", class: "btn btn-primary"%>
      <% end %>
      </div>
    </div>
  </div>
</div>