<div class="container">
  <div class="row">
    <div class="col-12">    
      <h2><%= t('.title', resource: resource.model_name.human) %></h2>
    </div>
    <div class="col-6 offset-3 ">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group ">
          <%= f.label :first_name %>
          <small class="form-text">20文字以内でご登録できます。</small>
          <%= f.text_field :first_name, autofocus: true, class: "form-control form-control-lg ",placeholder: "姓" %>
        <div><br>

        <div class="form-group ">
          <%= f.label :last_name %>
          <small class="form-text">20文字以内でご登録できます。</small>
          <%= f.text_field :last_name, autofocus: true, class: "form-control form-control-lg",placeholder: "名" %>
        <div><br>
        
        <div class="form-group">
          <%= f.label :nick_name %>
          <small class="form-text">好きなニックネームを20文字以内でご登録できます。</small>
          <%= f.text_field :nick_name, autofocus: true, class: "form-control form-control-lg",placeholder: "ニックネーム"%>
        <div><br>

        <div class="form-group ">
          <%= f.label :avatar_image %>
          <small class="form-text">写真は下記のボタンを押して選択してください。</small>
          <%= f.file_field :avatar_image %>
          <%= f.hidden_field :avatar_image_cache %>
        <div><br>

        <div class="form-group ">
          <%= f.label :introduction %>
          <small class="form-text">自己紹介は4000字まで入力することができます。</small>
          <%= f.text_area :introduction, autofocus: true, class: "form-control form-control-lg" ,placeholder: "自由記入欄" %>
        <div><br>

        <div class="form-group ">
          <%= f.label :email %>
          <small class="form-text">ご利用されているメールアドレスをご入力ください。</small>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", placeholder: "例) rehamo@example.com" %>
        </div><br>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
        <% end %>

        <div class="form-group ">
          <%= f.label :password %>
          <small class="form-text">空欄時は、パスワードを変更しません。半角英数字6文字以上で変更できます。</small>  
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg"%>
        </div><br>

        <div class="form-group ">
          <%= f.label :password_confirmation %><br />
          <small class="form-text">空欄時は、パスワードを変更しません。変更する場合は、同じパスワードをご入力ください。</small>  
          <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control form-control-lg"%>
        </div><br>

      <%if false %>
        <div class="form-group ">
          <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
      <% end %>
      <div class="d-inline- flex">
          <%= f.submit t('.update'), class:'btn btn-primary' %>
          <%= link_to "戻る", :back, class:'btn btn-success' %>
      </div><br>     
      <% end %>
    </div>
  </div>
</div>