<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="sign-up"><%= t('.sign_up') %></h2>
    </div>
    <div class="col-12 col-lg-9 offset-lg-1 my-2">
      <div class="card">
        <div class="card-body">
          <%= form_with(model: @user, url:  users_sign_up_confirm_path(@user), local: true) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group mt-2">
            <div>
              <%= f.label :first_name  %>
              <span class="badge badge-danger">必須<span>
            </div>
            <%= f.text_field :first_name, autofocus: true, class: "form-control form-control-lg ",placeholder: "姓"%>
            <small class="form-text">20文字以内でご登録できます。</small>
          </div>

          <div class="form-group mt-2">
            <div>
              <%= f.label :last_name %>
              <span class="badge badge-danger">必須<span>
            </div>
            <%= f.text_field :last_name, autofocus: true, class: "form-control form-control-lg",placeholder: "名"%>
            <small class="form-text">20文字以内でご登録できます。</small>
          </div>

          <div class="form-group mt-2">
            <div>
              <%= f.label :nick_name %>
              <span class="badge badge-danger">必須<span>
            </div>
            <%= f.text_field :nick_name, autofocus: true, class: "form-control form-control-lg",placeholder: "ニックネーム"%>
            <small class="form-text">好きなニックネームを20文字以内でご登録できます。</small>
          </div>

          <div class="form-group mt-2">
            <div>
              <%= f.label :avatar_image %>
              <span class="badge badge-secondary">任意<span>
            </div>
            <%= f.file_field :avatar_image %>
            <%= f.hidden_field :avatar_image_cache %>
            <small class="form-text">ボタンを押して写真を選択してください。</small>
          </div>

          <div class="form-group mt-2">
            <div>
              <%= f.label :introduction %>
              <span class="badge badge-secondary">任意<span>
            </div>
            <%= f.text_area :introduction, autofocus: true, class: "form-control form-control-lg" ,placeholder: "自由記入欄"%>
            <small class="form-text">自己紹介は4000字まで入力することができます。</small>
          </div>

          <div class="form-group mt-2">
            <div>
              <%= f.label :email %>
            <span class="badge badge-danger">必須<span>
            </div> 
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", placeholder: "例) rehamo@example.com" %>
            <small class="form-text">ご利用されているメールアドレスをご入力ください。</small>
          </div>

          <div class="form-group mt-2">
            <div>
              <%= f.label :password %>
              <span class="badge badge-danger">必須<span>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg" ,placeholder: "例) AbcDef0123"%>
            <small class="form-text">パスワードは半角英数字6文字以上でご登録できます。</small>  
          </div>

          <div class="form-group mt-2">
            <div>
              <%= f.label :password_confirmation %>
              <span class="badge badge-danger">必須<span>
            </div>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg",placeholder: "例) AbcDef0123" %>
            <small class="form-text">確認のため、もう一度同じパスワードをご入力ください。</small>  
          </div>

            <div class="mb-1 p-1"><%= f.submit t('.sign_up') ,class:'btn btn-primary btn-lg'%><div class="mb-1 p-1">
            <div class="mb-1 p-1">
              <%= render "devise/shared/links" %>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-12 mb-5 mt-2 pb-1 pt-1">
      <%= link_to "戻る", :back ,class:'btn btn-success btn-lg'%>
    </div>
  </div>
</div>
