<h1>コミュニティ</h1>


  <h1><%= current_user.first_name %><%= current_user.last_name %>さんのコミュニティページ</h1>

<table>
  <head>
    <tr>
      <th>プロフィール画像</th>
      <th>姓名</th>
      <th>メッセージを確認</th>
    </tr>
  </head>
  <body>
    <% @users.each do |user| %>
    <tr>
      <% if user.avatar_image?%>
        <td><%= image_tag(user.avatar_image.thumb.url) %></td>
      <% end %>
        <td><%= user.first_name %><br><%= user.last_name %></td>
        <td>メッセージを送信リンク</td>
    </tr>
    <% end %>
  </body>
</table>


<h2>ユーザー</h2>
<% @users.each do |user| %>
  <% if user.id != current_user.id %>
    <li>
      <div class="item">
        <%= link_to user.first_name, user %>
        <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %>
      </div>
    </li>
  <% end %>
<% end %>