<h1>コミュニティ</h1>


  <h1><%= current_user.first_name %><%= current_user.last_name %>さんのコミュニティページ</h1>

<table>
  <head>
    <tr>
      <th>プロフィール画像</th>
      <th>姓名</th>
      <th>メッセージを確認</th>
    </tr>
  </head>
  <body>
    <% @users.each do |user| %>
    <tr>
      <% if user.avatar_image?%>
        <td><%= image_tag(user.avatar_image.thumb.url) %></td>
      <% end %>
        <td><%= user.first_name %><br><%= user.last_name %></td>
        <td>メッセージを送信リンク</td>
    </tr>
    <% end %>
  </body>
</table>
