<div class="container-fluid">
  <div class="row">
    <div class=" col-12 col-md-6">
      <h2><%= current_user.first_name %><%= current_user.last_name %>さんのコミュニティ</h2>
    </div>
    <div class="col-12 col-md-6 form-group">
      <%= search_form_for @q do |f|%>
        <%= f.label :first_name_or_last_name %>
        <small class="form-text">登録されたご利用者さまを姓また名で検索できます。</small>
        <%= f.search_field :first_name_or_last_name_cont, class: "form-control form-control-lg ",placeholder: "姓 または 名 を入力" %>
        <%= f.submit "検索"%>
      <% end %>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-body">
        <h4 class="card-title">コミュニティ</h4>
        <h6 class="card-text">こちらではご登録されているご利用者さまのプロフィールを確認することができます。</h6>
        <h6 class="card-text">相手のプロフィールを確認するときは、プロフィールを確認するボタンを押してみましょう。</h6>
        <h6 class="dard-text">プロフィールを確認するボタンを押すとメッセージを送信することができます。</h6>
        <h6 class="dard-text">姓名ボタンを押すと名前を（昇順▲ 降順▼）で並び替えられます。</h6>
          <table class="table">
            <thead>
              <tr>
                <th style="width: 30%">プロフィール画像</th>
                <th style="width: 20%"><%= sort_link(@q, :first_name,"姓名") %></th>
                <th>プロフィールを確認する</th>
                <th>メッセージを確認</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <% if current_user.id != user.id %>
                <tr>
                  <% if user.avatar_image?%>
                    <td><%= image_tag(user.avatar_image.thumb.url) %></td>
                  <% else %>
                    <td><%= image_tag('noimage.png',width:'40%',height: '40%')%></td>
                  <% end %>
                    <td><%= user.first_name %><%= user.last_name %>さん</td>
                  <% if user.id != current_user.id %>
                    <td><%= link_to "プロフィールを確認する ", user ,class:'btn btn-info'%></td>
                    <td><%= link_to 'メッセージを確認する', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post ,class:'btn btn-primary'%></td>
                  <% end%>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= paginate @users %>
      <%= link_to "戻る",users_mypage_path(id: current_user.id),class:'btn btn-success btn-lg' %><br>
    </div>
  </div>
</div>