<div class="container-fluid">
  <div class="row">
    <div class="col-12 mt-5">
        <h2 class="user_title" ><%= current_user.nick_name %>さんのコミュニティ</h2></div>
    </div>
    <div class="form-group col-sm-12 offset-md-6 col-md-6 mb-5 ">
      <%= search_form_for @q do |f|%>
        <h3>ニックネーム検索</h3>
        <%= f.search_field :nick_name_cont, class: "form-control form-control-lg ",placeholder: "ニックネームを入力" %>
        <small class="form-text">登録されたニックネームでご利用者さまを検索できます。</small>
        <%= f.submit "検索",class:'btn btn-secondary btn-lg'%>
      <% end %>
    </div>
    <div class="card">
      <div class="card-body m-1">
        <h3 class="card-title pb-4">コミュニティ</h3>
        <h4 class="card-text pb-2">こちらではご登録されているご利用者さまの<span class="under">プロフィール</span>を確認することができます。</h4>
        <h4 class="card-text pb-2"><span class="under">相手のプロフィールを確認する</span>ときは、<span class="under">「プロフィールを確認するボタン」</span>を押してみましょう。</h4>
        <h4 class="dard-text pb-2"><span class="under">「メッセージを確認するボタン」</span>を押すと、相手とメッセージをやりとりすることができます。</h4>
        <h4 class="dard-text pb-5"><span class="under">「ニックネーム」のリンク</span>を押すとをニックネームを<span class="under">昇順・降順（昇順▲ /降順▼）</span>で並び替えられます。</h4>
        <div class="table-responsive">
          <table class="table text-nowrap">
            <thead>
              <tr>
                <th class="text-nowrap" style="width: 25%">プロフィール画像</th>
                <th class="text-nowrap" style="width: 25%"><%= sort_link(@q, :nick_name,"ニックネーム") %></th>
                <th class="text-nowrap" style="width: 25%">プロフィールを確認する</th>
                <th class="text-nowrap" style="width: 25%" >メッセージを確認する</th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <% if current_user.id != user.id %>
                <tr>
                  <% if user.avatar_image?%>
                    <td class="d-flex justify-content-center"><%= image_tag(user.avatar_image.thumb.url) %></td>
                  <% else %>
                    <td class="d-flex justify-content-center"><%= image_tag('noimage.png',width:'90%',height: '90%')%></td>
                  <% end %>
                    <td id="user_nick_name"><%= user.nick_name%>さん</td>
                    <% if user.id != current_user.id %>
                    <td><%= link_to "プロフィールを確認する ", user ,class:'btn btn-info btn-lg '%></td>
                    <td><%= link_to 'メッセージを確認する', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post ,class:'btn btn-primary  btn-lg'%></td>
                  <% end%>
                </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <%= paginate @users %>
        </div>
      </div>
    </div>
    <div class="d-flex pt-3 pb-3">
      <%= link_to "戻る",user_path(id: current_user.id),class:'btn btn-success btn-lg' %>
    </div>
  </div>
</div>