<div class="container">
  <div class="row">
    <div class="col-12">
    <% if @user.id  == current_user.id %>
    <h1><%= @user.nick_name %>さんのマイページ</h1>
    <% else %>
      <h1><%= @user.nick_name%>さんのプロフィール</h1>
    <% end %>
    </div>
  </div>
  <br>  
  <div class="row">
    <div class="col-12 col-md-7">
      <% if @user.avatar_image? %>
        <%= image_tag(@user.avatar_image.url) if @user.avatar_image && @user.avatar_image.url %>
      <% else %>
        <%= image_tag('noimage.png',width:'80%',height:'80%')%>
      <% end %>
    </div>
    <div class="col-12 col-md-5">
      <% if @user.id  == current_user.id %>
        <div class="d-flex flex-column"><br>
          <div>
            <%= link_to "プロフィールを編集する", edit_user_registration_path, class: "btn btn-info btn-lg"%>
          </div>
          <br>
          <div>
            <%= link_to "退会する", user_registration_path, method: :delete, data:{confirm: "アカウントを削除してもよろしいですか？"}, class:"btn btn-outline-danger btn-lg"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="table-responsive-md">
        <table class="table text-nowrap">
          <tr>
            <th>ニックネーム</th>
            <td><%= @user.nick_name%> さん</td>
          </tr>
          <tr>
            <th>新規会員登録日:</th>
            <td><%= @user.created_at.strftime("%Y年%m月%d日") %></td>
          </tr>
          <tr>
            <th>自己紹介</th>
            <td><%= @user.introduction%></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <% if @user.id  == current_user.id %>
  <div class="card">
    <div class="card-body">
      <%= link_to "運動を記録する", exercises_path %>
      
      <%= link_to "仲間と交流する" , users_path %>
    </div>
  </div>
  <% end %>
</div>


