<div class="container">
    <h1><%= @user.first_name%><%= @user.last_name%>さんのプロフィール</h1>
    <div>
    <h2>プロフィール画像</h2>
      <% if @user.avatar_image? %>
        <%= image_tag(@user.avatar_image.url) if @user.avatar_image && @user.avatar_image.url %>
      <% else %>
        <%= image_tag('noimage.png',width:'50%',height: '50%')%>
      <% end %>
  </div>
  
  <div>
    <h2>姓:<%= @user.first_name %> 名:<%= @user.last_name %></h2>
  </div>
  
  <div>
    <h2>自己紹介</h2>
    <%= @user.introduction%>
  </div>
  <br>
  <%= link_to "戻る", users_mypage_path(id: current_user.id) %>
  <%= link_to "プロフィールを編集する", edit_user_registration_path %>
  <%= link_to "退会する", user_registration_path, method: :delete, data:{confirm: "アカウントを削除してもよろしいですか？"}%>
</div>


