<div class="container">
  <div class="row">
    <div class="col-12">
      <h2><%= t('.forgot_your_password') %></h2>
    </div>
    <div class="col-6 offset-3">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %>
          <small class="form-text">ご登録されたメールアドレスをご入力ください。</small>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", placeholder: "例) rehamo@example.com" %>
        </div>

        <div class="actions">
          <%= f.submit t('.send_me_reset_password_instructions'), id:"password", class:"btn btn-secondary" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
