<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h4>過去に実施した運動の一覧</h4>
    </div>
    <div class="col-12 col-md-4 offset-2 form-group">
      <%= search_form_for @q do |f| %>
      <h4>運動を実施した日付の検索</h4>
      <small class="form-text">検索する日付の範囲の開始日を入力してください。</small>
      <%= f.date_field :fixed_day_gteq, class: 'form-control', include_blank: true %>
      <small class="form-text">検索する日付の範囲の終了日を入力してください。</small>
      <%= f.date_field :fixed_day_lteq_end_of_day, class: 'form-control', include_blank: true %>
      
      <h4>実施/未実施検索</h4>
      <%= f.select :is_done_eq, [['実施済',true],['未実施',false]], include_blank: true %>
      <%= f.submit "検索する",class:'btn btn-secondary btn-lg'%>
      <small class="form-text">セレクトボックスで実施または未実施を選択して検索できます。</small>
      <% end %>
    </div>
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive-md">
              <table class="table">
                <thead>
                  <tr>
                    <th>写真の写真</th>
                    <th>運動の名前</th>
                    <th>運動の負荷量</th>
                    <th>運動を実施した日</th>
                    <th>実施/未実施ボタン</th>
                  </tr>
                </thead>
                <tbody>
                  <% @schedules.each do |schedule|%>
                    <% if current_user.id == schedule.exercise.user.id%>
                      <tr>
                      <% if schedule.exercise.image? %>
                        <th><%= image_tag(schedule.exercise.image.thumb.url)%></th>
                      <% else %>
                        <th><%= image_tag('noimage.png',width:'40%',height: '40%')%></th>
                      <% end%>
                        <th id=""><%= schedule.exercise.name %></th>
                        <th>
                          <% if schedule.exercise.count != "0" %>
                            運動回数:<%= schedule.exercise.count %>回
                          <% end %>
                          <% if schedule.exercise.set_count != "0" %>
                            セット数:<%= schedule.exercise.set_count %>セット
                          <% end %>
                          <% if schedule.exercise.minute != "0" %>
                            時間:<%= schedule.exercise.minute %>分
                          <% end %>
                          <% if schedule.exercise.second != "0" %>
                            <%= schedule.exercise.second %>秒
                          <% end %>
                        </th>
                        <th><%= schedule.fixed_day%></th>
                        <th>
                          <div id="button_<%= schedule.id %>">
                            <%= render 'schedules/both', {schedule: schedule} %>
                          </div>
                        </th>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @schedules, param_name: 'schedule_page'%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12"><br>
      <%= link_to "戻る",exercises_path, class:'btn btn-success btn-lg' %>
    </div>
  </div>
</div>