<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1><%= current_user.nick_name%>さんの運動・記録ページ</h1>
    </div>
    <%= render 'schedules/index',local:{ schedules: @schedules} %>
    <div class="col-12 col-md-6">
      <div class="d-flex flex-column">
        <div style="height:70px"></div>
        <div class="d-flex justify-content-center" style="height:100px"><h1>運動方法の確認</h1></div>
        <div style="col-0 height:50px"></div>
      </div>
    </div>
    <div class="col-12 col-md-6"> 
      <%= search_form_for @q do |f| %>
        <h4>運動名の検索</h4>
        <%= f.search_field :name_cont, class: "form-control form-control-lg ",placeholder: "例) スクワット"%>
        <small class="form-text">登録された運動の名前で検索することが出来ます。</small>
      <%= f.submit "検索する",class:'btn btn-secondary btn-lg'%>
      <% end %>
    </div>
    <div class="col-12 m-3 p-3">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><%= current_user.nick_name%>さんの実施する運動一覧</h3>
          <h5 class="cord-text">運動方法を確認するボタンを押すと写真や動画で内容を確認できます。</h5>
          <h5 class="cord-text">運動方法の編集・削除ボタンで運動を編集・削除できます。</h5>
          <h5 class="dard-text">運動の名前のリンクを押すと運動の名前を昇順・降順（昇順▲ 降順▼）で並び替えられます。</h5>
          <h5 class="cord-text">運動内容を登録するボタンで運動をご自分で登録することができます。</h5>
          <div class="table-responsive">
            <table class="table text-nowrap">
              <thead>
                <tr>
                  <th style="width: 20%">運動の写真</th>
                  <th style="width: 30%"><%= sort_link(@q, :name ,"運動の名前")%></th>
                  <th style="width: 20%"> 運動方法を確認する</th>
                  <th style="width: 15%">編集ボタン</th>
                  <th style="width: 15%">削除ボタン</th>          
                </tr>
              </thead>
              <tbody>
                <% @exercises.each do |exercise|%>
                  <tr>
                    <% if exercise.image? %>
                      <td class="d-flex justify-content-center"><%= image_tag(exercise.image.thumb.url)%></td>
                    <% else %>
                      <td class="d-flex justify-content-center"><%= image_tag('noimage.png',width:'90%',height: '90%')%></td>
                    <% end%>
                    <td id="exercise_name"><%= exercise.name%></td>
                    <td><%= link_to "運動方法を確認する", exercise_path(exercise.id) ,class:'btn btn-primary btn-lg'%></td> 
                    <td><%= link_to "編集する", edit_exercise_path(exercise.id) ,class:'btn btn-warning btn-lg'%></td>
                    <td><%= link_to "削除する", exercise_path(exercise.id), method: :delete, data: {confirm: "運動内容を削除しますか？"}, class:"btn btn-outline-danger btn-lg"%></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= paginate @exercises %>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-start">
      <div class="m2 p-3"><%= link_to "戻る",user_path(id: current_user.id), class:'btn btn-success btn-lg'%></div>
      <div class="m2 p-3"><%= link_to "運動内容を登録する",new_exercise_path, class:'btn btn-info btn-lg' %></div>
    </div>
  </div>
</div>