<div class="container">
  <h1>運動の方法を/動画</h1>
  <table class="table">
    <tbody>
      <tr>
        <th>運動の名前</th>
        <td><%= @exercise.name %></td>
      </tr>
      <tr>
        <th>運動の写真</th>
        <% if @exercise.image? %>
          <td><%= image_tag(@exercise.image.url) %></td>
        <% else %>
          <td><%= image_tag('noimage.png',width:'40%',height:'40%')%></td>
        <% end %>
      </tr>
      <tr>
        <th>運動の動画確認する</th>
        <% if @exercise.video? %>
          <td><%= video_tag(@exercise.video.url,autobuffer: true, controls: true, height: "50%", width:"50%") %></td>
        <% end %>
      </tr>
      <tr>
        <th>運動の負荷量</th>
        <td>
          <% if @exercise.count != "0" %>
            運動回数:<%= @exercise.count %>回
          <% end %>
          <% if @exercise.set_count != "0" %>
            セット数:<%= @exercise.set_count %>セット
          <% end %>
          <% if @exercise.minute != "0" %>
            時間:<%= @exercise.minute %>分
          <% end %>
          <% if @exercise.second != "0" %>
            <%= @exercise.second %>秒
          <% end %>
          <br>
            を目安に頑張って実施してください!
        </td>
      </tr>
      <tr>
        <th>運動の方法</th>
        <td><%= @exercise.description %></td>
      </tr>
      <tr>
        <th>運動する日付</th>
        <td ><% @exercise.schedules.each do |schedule|%>
            <%= schedule.fixed_day.strftime("%Y年%m月%d日") %>
            <% end%>
        </td>
      </tr>
    </tbody>
  </table>
  <%= link_to "戻る", :back ,class:'btn btn-info'%>
  <%= link_to "マイページへ移動する",user_path(id: current_user.id),class:'btn btn-primary'%> 
</div>

