<!DOCTYPE html>
<html>
  <head>
    <title>GraduationApplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <div class="header">
      <nav class="navbar navbar-expand-lg bg-success">
      <span class="navbar-brand">Rehamo</span>
        <ul class="nav">
          <% unless user_signed_in?%>
            <li class="nav-item"><%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post ,class:'nav-link'%></li>
            <li class="nav-item"><%= link_to "ゲスト管理者ログイン(閲覧用)", users_admin_guest_sign_in_path, method: :post ,class:'nav-link'%></li>
          <% end %>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <%= link_to "管理者権限", rails_admin_path ,class:'nav-link'%>
            <% end %>
            <li class="nav-item nab-list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete ,class:'nav-link' %></li>
          <% else %>
            <li class="nav-item "><%= link_to "新規会員登録", new_user_registration_path ,class:'nav-link' %></li>
            <li class="nav-item"><%= link_to "ログイン", new_user_session_path ,class:'nav-link' %></li>
          <% end %>
            <li class="nav-item"></li>

        </ul>
      </nav>
    </div>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <%= yield %>

    <div class="footer">
      <nav class="navbar bg-dark fixed-bottom"></nav>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
